/* spacing on all sections */
.section {
    margin-top: 3rem;
    padding-top: 3rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
    
/* hero background image */
.bgimage {
    height:100vh;
    background: url('https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-6/290169351_4780347715404663_2441658734432210254_n.jpg?_nc_cat=101&cb=99be929b-59f725be&ccb=1-7&_nc_sid=174925&_nc_ohc=FSo67kN-jPMAX9X0ztF&_nc_ht=scontent.fsgn5-10.fna&oh=00_AfBRIG7fgbotrd1_N08ROjsI-Mvw18h7ClGEIS_MjhvBRw&oe=64CEE741');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
}
/* text css above hero image*/
.hero_title {
    padding-top: 10rem;
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image_about {
    width: 100%;
}

.navbarDark {
    background: #000;
}


.social-icons {
    font-size: 24px;
    cursor: pointer;
}
.fa-facebook:hover,
.fa-behance:hover,
.fa-github:hover,
.fa-pinterest:hover, 
.fa-discord:hover {
    color: #fff;
}
.fab {
    color: #000000;
}
/* cái này của thẻ dịch vụ */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

.footer {
    background-color: #fff;
    text-align: center;
}
