/* spacing on all sections */
.section {
    margin-top: 3rem;
    padding-top: 3rem;
    color: black;
}
.section:last-of-type {
    padding-bottom: 4rem;
    color: black;
}
    
/* hero background image */
.bgimage {
    height:100vh;
    background: url('https://images.unsplash.com/photo-1532043772213-09a6cec77cfa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
    color: black;
}
/* text css above hero image*/
.hero_title {
    padding-top: 10rem;
    font-size: 4.5rem;
    color: black;
}
.hero_desc {
    font-size: 2rem;
    color: black;
}
.hero_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image_about {
    width: 100%;
    color: black;
}

.navbarDark {
    background: #000;
    color: black;
}


.social-icons {
    font-size: 24px;
    cursor: pointer;
    color: black;
}
.fa-facebook:hover,
.fa-behance:hover,
.fa-github:hover,
.fa-pinterest:hover, 
.fa-discord:hover {
    color: #000000;
    color: black;
}
.fab {
    color: #000000;
}
/* cái này của thẻ dịch vụ */
.servicesText.card {
    height: 280px;
    cursor: pointer;
    color: black;   
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
    color: black;
}
.card-title {
    text-align: center;
    color: black;
}
.card:hover .servicesIcon {
    color: #008000;
    color: black;
}
.servicesText:hover {
    border: 1px solid #008000;
    color: black;
}

.footer {
    background-color: black;
    text-align: center;
}
